/* Table Column Width Classes */
.kubelens-col-w-80 {
  width: 80px;
}

.kubelens-col-w-100 {
  width: 100px;
}

.kubelens-col-w-120 {
  width: 120px;
}

.kubelens-col-w-150 {
  width: 150px;
}

.kubelens-col-w-200 {
  width: 200px;
}

.kubelens-col-w-300 {
  width: 300px;
}